footer {
    padding-top: 10.4rem;

    .social-icon {
        color: rgb(236 217 217);
        margin-left: 2rem;
        text-decoration: none;
        font-size: 2rem;
        transition: 0.9s linear;
        
        &:hover {
            transform: rotate(360deg);
        }
    }

    .copyright {
        font-family: $lato;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color:rgb(88 108 136) ;
    }
}